.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border: 1px solid rgb(111 111 111);
  box-shadow: 4px 4px 10px rgba(153, 153, 153, 0.774);
}

.rows {
  display: flex;
}

.cube,
.cube0,
.cube1,
.cube2,
.cube3,
.cube4,
.cube5,
.cube6,
.cube7,
.cube8,
.discovered {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 216, 216, 0.3);
  border: 1px solid rgb(134, 134, 134);
  box-shadow: 4px 4px 10px rgba(57, 57, 57, 0.514);
  font-size: 1rem;
  font-weight: 700;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.discovered {
  background-color: rgba(163, 163, 163, 0.692);
  box-shadow: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.cube1 {
  color: rgb(0, 126, 199);
}

.cube2 {
  color: rgb(0, 153, 20);
}

.cube3 {
  color: rgb(255, 73, 73);
}

.cube4 {
  color: rgb(66, 111, 138);
}

.cube5,
.cube6,
.cube7,
.cube8 {
  color: rgb(47, 25, 68);
}

.cube0:hover,
.cube1:hover,
.cube2:hover,
.cube3:hover,
.cube4:hover,
.cube5:hover,
.cube6:hover,
.cube7:hover,
.cube8:hover {
  background-color: rgb(177, 177, 177);
}

.remaining {
  margin-top: 15px;
}

.marked {
  background-image: url("../../../public/flag.png");
  background-size: contain;
  background-position: center;
}

.bomb {
  background-image: url("../../../public/bomb.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: default;
}

.pressed {
  background-color: blueviolet;
}

@media only screen and (min-width: 800px) {
  .cube,
  .cube0,
  .cube1,
  .cube2,
  .cube3,
  .cube4,
  .cube5,
  .cube6,
  .cube7,
  .cube8,
  .discovered {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }
}
