.timerContainer {
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timerContainer h1 {
  font-size: 2rem;
  margin: 10px 0;
  text-align: center;
  width: 100%;
  line-height: 2; /* Ajusta según el tamaño de fuente para evitar fluctuaciones */
}

.timerContainer p {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
