:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --background-color: linear-gradient(
    to right top,
    #c7c7c7,
    #cfcfcf,
    #d7d7d7,
    #dfdfdf,
    #e7e7e7,
    #ebebec,
    #eeeef0,
    #f2f2f5,
    #f2f2f7,
    #f1f2fa,
    #f0f3fc,
    #eef3ff
  );
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
